.git
.github
vendor
node_modules
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitignore
.env
.env.*
!.env.example
!.env.production.example
*.log
docker-compose.yml
docker/dev
.phpunit.cache
.idea
.vscode
